<p>
  <select class="characters" name="dropdown" [(ngModel)]="characterSelector"
          (ngModelChange)="characterSelected(characterSelector)">
    <option value="0"></option>
    <option *ngFor="let character of myCharacters" [value]="character.id"
            [selected]="characterSelector === character.id">
      {{character.alias}}
    </option>
  </select>
</p>

<md-grid-list cols="2">
  <md-grid-tile>
    <div>
      <h4>{{filterTitle | uppercase}}</h4>
      <ul class="checkboxList">
        <li *ngFor="let filter of filters">
          <input id="{{filter.fieldName}}" type="checkbox" [value]="filter.fieldName"
                 [(ngModel)]="filter.checked">
          <label for="{{filter.fieldName}}">{{filter.fieldName | capitalize}}</label>
        </li>
      </ul>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <div *ngIf="selectedCharacter">
      <p [ngClass]="['bold-text','red-text']">{{characterTitle | uppercase}}</p>
      <ul>
        <ng-container *ngFor="let filter of filters">
          <li *ngIf="findIfFilterIsChecked(filter.fieldName)" myHighlight="" [highlightMe]="filter.highlighted" [highlightColour]="'lightgreen'">
            <b>{{filter.fieldName | capitalize}}:</b>
            {{filter.currencyPipe ? (selectedCharacter[filter.fieldName] | currency:'EUR':true) :
            selectedCharacter[filter.fieldName]}}
          </li>
        </ng-container>
      </ul>
    </div>
  </md-grid-tile>
</md-grid-list>
